:root {
  --basic-black: #000000;
  --basic-light-red: #FB565A;
  --basic-red: #E74246;
  --basic-dark-red: #D7373B;
  --basic-light-green: #00CA74;
  --basic-green: #00BC6C;
  --basic-dark-green: #00AA62;
  --basic-light-yellow: #EFC84A;
  --basic-yellow: #EAB534;
  --basic-dark-yellow: #E5A722;
  --basic-social-gray: #E1E1E1;
  --basic-input-light-gray: #D7DCDE;
  --basic-input-gray: #B4B9BB;
  --basic-buttons-light-gray: #EEEEEE;
  --basic-buttons-gray: #DFDFDF;
  --basic-buttons-dark-gray: #D5D5D5;
  --basic-buttons-active: #DBDBDB;
  --basic-arrow-dark: #231F20;
  --basic-filter-gray: #4D4D4D;
  --basic-text: #283136;
  --basic-logo-gray: #A6A6A6;
  --basic-white: #ffffff;
  --basic-bg:#888888;
}


body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: space-between;
}

header {
  margin-bottom: 20px;
}


.navigation {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-buttons-light-gray);
}

.container {
  width: 1170px;
  margin: 0 10px;
  padding: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 440px; /*Задал высоту, можно?*/
  margin: 0;
  padding: 0;
  justify-content: space-between;
  min-height: 114px;
}


.navigation-list a,
.navigation-cart a {
  color: var(--basic-black);
  display: block;
  padding-top: 75px;
  padding-bottom: 9px;
}

.navigation-list-index,
.navigation-catalog-index {
  border-bottom: 2px solid var(--basic-light-red);
}



.navigation-list a:hover,
.navigation-cart a:hover,
.navigation-list a:focus,
.navigation-cart a:focus {
  color: var(--basic-light-red);
}

.navigation-list a:active,
.navigation-cart a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.header-logo {
  color: var(--basic-black);
  display: flex;
  align-items: flex-end;
  min-height: 114px;
}

.header-logo:active {
  fill: var(--basic-logo-gray);
}

.navigation-cart {
  display: flex;
  max-width: 210px;
  padding-left: 50px;
}

.navigation-cart { /*почему нельзя сделать .cart display: block;  почему так не работает??*/
display: block;
}

.cart {
  padding-left: 50px;
  position: relative;
}

.cart::before {
  content: "";
  position: absolute;
  top: 82px;
  right: 100px;
  background-image: url("img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 15px;
  height: 15px;
}

.our-service {
  width: 1100px;
  margin-bottom: 50px;
  margin-top: 80px;
  padding: 0 10px;

}
/*По ширине не получается Наши услуги.*/

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-item {
  text-align: left;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  margin: 0; /*здесь первоначально маржин был 24px, но я не могу понять почему*/
  margin-bottom: 16px;
}

.services-item p {
  margin: 0;
  padding: 0;

}

.button {
  display: inline-block;
  font: inherit;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  padding: 17px 40px 15px 39px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  vertical-align: middle;
  margin-top: 32px;
  margin-bottom: 80px;
}


.services-websites h3::before{
  display: flex;
  content: "";
  background-image: url("img/websites.png");
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}

.services-applications h3::before {
  display: flex;
  content: "";
  background-image: url("img/applications.png");
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}

.services-presentations h3::before {
  display: flex;
  content: "";
  background-image: url("img/presentations.png");
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}


a.button-websites {
  background-color: var(--basic-light-red);
}

a.button-websites:hover,
a.button-websites:focus {
  background-color: var(--basic-red);
}

a.button-websites:active {
  background-color: var(--basic-dark-red);
}

a.button-applications {
  background-color: var(--basic-light-green);
}

a.button-applications:hover,
a.button-applications:focus {
  background-color: var(--basic-green);
}

a.button-applications:active {
  background-color: var(--basic-dark-green);
  }


a.button-presentations {
  background-color: var(--basic-light-yellow);
}

a.button-presentations:hover,
a.button-presentations:focus {
  background-color: var(--basic-yellow);
}

a.button-presentations:active {
  background-color: var(--basic-dark-yellow);
}

.article {
  display: flex;
  flex-direction: row;
  width: 1170px;
  margin: 0 10px;
  justify-content: space-between;
  border-top: 2px solid var(--basic-buttons-light-gray);
  border-bottom: 2px solid var(--basic-buttons-light-gray);
}

.article-list h3 {
  font: inherit;
  font-weight: 600;
  font-size: 45px;
  line-height: 45px
}

.article-list p {
  font-size: 16px;
  line-height: 24px;
}

.article-list span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.article-list ul {
  list-style: none;

}

.article-picture {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  margin: 0;
  padding: 0;
  justify-content: flex-end;

}

.article-picture-text{
  margin: 0;
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  text-align:  center;
  margin-bottom: 31px;
}

.article-picture-text::before {
  display: flex;
  content: "";
  background-image: url("img/nerds-illustration.png");
  width: 360px;
  height: 208px;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 37px;
}

.article-picture-advantages {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 75px;
}

.article-picture-advantages span {
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
}

.article-picture-advantages sup {
  font-size: 26px;
  line-height: 40px;
  font-weight: bold;
}

.article-picture-advantages p {
  font-size: 16px;
  line-height: 18px;
  margin-top: 11px;
}


.projects {
  display: flex;
  font: inherit;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  position: relative;
  width: 1085px;
  margin: 0 10px;
  padding: 0;
  padding-left: 32px;
  padding-top: 19px;
  padding-bottom: 44px;
  align-items: center;
  justify-content: space-between;
}

.academy {
  position: relative;
  width: 199px;
  height: 68px;
  background-image: url("img/logo-htmlacademy.png");
  opacity: 0.5;/*сделал побольше т.к. вообще не видно иначе*/
}

.borodinski {
  position: relative;
  width: 209px;
  height: 90px;
  background-image: url("img/logo-borodinski.png");
  opacity: 0.5;/*сделал побольше т.к. вообще не видно иначе*/
}


.pink {
  position: relative;
  width: 182px;
  height: 55px;
  background-image: url("img/logo-pink.png");
  opacity: 0.5;/*сделал побольше т.к. вообще не видно иначе*/
}


.mishka {
  width: 173px;
  height: 84px;
  background-image: url("img/logo-mishka.png");
  opacity: 0.5;/*сделал побольше т.к. вообще не видно иначе*/
}

.academy::after {
  content: "";
  position: absolute;
  right: -48px;
  bottom: 8px;
  width: 2px;
  height: 52px;
  background-color: var(--basic-buttons-light-gray);
}


.borodinski::after {
  content: "";
  position: absolute;
  right: -44px;
  bottom: 23px;
  width: 2px;
  height: 52px;
  background-color: var(--basic-buttons-light-gray);
}

.pink::after {
  content: "";
  position: absolute;
  right: -55px;
  bottom: 1px;
  width: 2px;
  height: 52px;
  background-color: var(--basic-buttons-light-gray);
}

.projects::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: -63px;
  width: 1180px;
  height: 2px;
  background-color: var(--basic-buttons-light-gray);
} /*Не получается жирная полоса и во всю длинну*/

.projects li:hover,
.projects li:focus {
  opacity: 0.2; /*сделал побольше т.к. вообще не видно иначе*/
}

.projects li:active {
  opacity: 1;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  margin-left: 50px;
  width: 319px;
}

.contact h3 {
  font-size: 18px;
  line-height: 30px;
  margin-top: 49px;
  margin-bottom: 23px;
}

.contact p {
  margin: 0;

}

.button-contact {
  padding: 17px 44px 15px 44px;
  background-color: var(--basic-light-red);
  border-radius: 3px;
  margin: 0;
  margin-top: 37px;
  margin-bottom: 47px;
}


footer{
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  align-items: center;
}


.social-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 9px;
  margin: 68px 0;
  margin-right: 139px;
  width: 247px;
  list-style: none;
}

/*.social-list li {
  display: flex;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  }*/


.social-button {
  display: flex;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--basic-social-gray);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;

}

.vk-icon {
  background-image: url("img/vk-icon.svg");
  }

.fb-icon {
  background-image: url("img/fb-icon.svg");
}

.insta-icon {
  background-image: url("img/insta-icon.svg");
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}

/*.social-list li:active {
  background-color: var(--basic-dark-red);
  opacity: 0.3;
  /*и опять проблема с 3-м видом, что делать с иконкой?
}*/

.social-button:active {
  background-color: var(--basic-dark-red);
}

.footer-discounts {
  width: 542px;
  margin: 0;
}

.footer-discounts h2 {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 10px;
}

.footer-discounts p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.witeus {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
  width: 760px;
  margin: 0;
  padding: 63px 99px 84px 100px;
}

.witeus h2 {
  font-size: 45px;
  line-height: 53px;
  text-align: left;
  margin: 0;
  margin-bottom: 37px;
}


.witeus-name{
  display: inline-flex;/*Почему если просто флекс они встают друг под другом?*/
  flex-wrap: wrap;
  flex-direction: column;
  width: 359px;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.witeus-email{
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 359px;
  margin: 0;
  padding: 0;
}

.witeus-comment {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 760px;
  margin: 0;
  padding: 0;
  margin-top: 34px;

}

.witeus-form label {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  font-weight: 600;
  margin-bottom: 9px;
}

.witeus-form input,
.witeus-form textarea {
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-input-light-gray);
  color: var(--basic-black); /*как поменять цвет текста в поле ввода?*/
  border-radius: 3px;

}

.witeus-form {
  color: var(--basic-black);
}


.witeus-form input:hover,
.witeus-form textarea:hover {
  border-color: var(--basic-input-gray);
}

.witeus-form input:focus
.witeus-form textarea:focus {
  border-color: var(--basic-black);
}

.witeus-form input:invalid { /*когда всплывает подпись что невалидное значение,
  бордер черный, но потом становится красным. Как убрать черный?*/
  border-color: var(--basic-red);
  color: var(--basic-red);
}


.button-submit {
  padding: 17px 83px 15px 83px;
  background-color: var(--basic-light-red);
  border-radius: 3px;
}


.close::after {
  content: "";
  position: absolute;
  display: flex;
  background-image: url("img/close.svg");
  width: 21px;
  height: 21px;
  right: 90px;
  top: 78px;
  opacity: 0.3;
}

.close:hover,
.close:focus { /*Почему-то не работае*/
  opacity: 1;
}

.close:active {
  opacity: 0.1;
}

/*PAGE 2*/

main {
  width: 1170px;  /*Почему нужно заново задавать все*/
  margin: 0 10px;
}

header {
  margin: 0;
}


h1 {
  padding-top: 78px;
  padding-bottom: 108px;
  text-align: center;
  background-color: var(--basic-buttons-light-gray);
  font-size: 55px;
  line-height: 55px;
  margin: 0;
}


.shop-page{  /*Почему такой селектор не работает shop. section?*/
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
  column-gap: 140px;
  margin: 0;
  padding: 0;
}

.filters {

}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter legend {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 16px;
}

fieldset.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 54px;

}

.range-filter {
  width: 260px;
  margin-top: 32px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}


.filter ul {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  padding: 0;
  margin: 0;
}

.filter li {
color: var(--basic-black);

}

/*label [for="rubber"] {  Как выбрать можно было?
margin-bottom: 50px;
}*/

li [id="rubber"] {
  margin-bottom: 46px;
}

li [id="basket"] {
  margin-bottom: 50px;
}

.filter label {
  margin-left: 10px;
  cursor: pointer;
}

.filter input:hover,
.filter input:focus {
  opacity: 0.4;
}

.filter li:active {
  opacity: 0.3;
}

.filter input:active {
  opacity: 0.1;
}



.catalog-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 760px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  list-style: none;
}

.catalog-list li {
width: 360px;
height: 620px;
margin: 0;
padding: 0;
margin-bottom: 30px;
}



.catalog-pages {
  font: inherit;
  list-style: none;
  line-height: 18px;
}


.catalog-page a {
  font: inherit;
  text-align: center;
  border: none;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-buttons-light-gray);
  padding: 50px 50px 50px 50px;
  border-radius: 3px;
  color: var(--basic-black);
} /*Здесь я что-то вообще запутался*/
