:root {
  --basic-black: #000000;
  --basic-light-red: #FB565A;
  --basic-red: #E74246;
  --basic-dark-red: #D7373B;
  --basic-light-green: #00CA74;
  --basic-green: #00BC6C;
  --basic-dark-green: #00AA62;
  --basic-light-yellow: #EFC84A;
  --basic-yellow: #EAB534;
  --basic-dark-yellow: #E5A722;
  --basic-social-gray: #E1E1E1;
  --basic-input-light-gray: #D7DCDE;
  --basic-input-gray: #B4B9BB;
  --basic-buttons-light-gray: #EEEEEE;
  --basic-buttons-gray: #DFDFDF;
  --basic-buttons-dark-gray: #D5D5D5;
  --basic-buttons-active: #DBDBDB;
  --basic-arrow-dark: #231F20;
  --basic-filter-gray: #4D4D4D;
  --basic-text: #283136;
  --basic-logo-gray: #A6A6A6;
  --basic-white: #ffffff;
  --basic-bg:#888888;
}


body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: space-between;
}

header {
  margin-bottom: 20px;
}


.navigation {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-buttons-light-gray);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.navigation-list {
  display: flex;
  list-style: none;
  width: 440px;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.navigation-cart {
  display: flex;
  max-width: 160px;
  padding-left: 50px;
}

.cart-icon {
  background-image: url("img/cart-icon.svg");
  width: 15px;
  height: 15px;
}

.navigation-list a,
.navigation-cart a {
  color: var(--basic-black);
}

.navigation-list a:hover,
.navigation-cart a:hover,
.navigation-list a:focus,
.navigation-cart a:focus
{
  color: var(--basic-light-red);
}

.navigation-list a:active,
.navigation-cart a:active
{
  color: var(--basic-black);
  opacity: 0.3;
}

.header-logo svg:active
{
fill: var(--basic-logo-gray);
}

.our-service {
  margin-bottom: 30px;
  outline: 5px solid rgba(255, 0, 0 , 0.3);
}
/*По ширине не получается Наши услуги.*/

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-item {
  text-align: left;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
}

.services-item p {
  margin: 0 10px;
}

.button {
  font: inherit;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  padding: 17px 40px 15px 39px;
  text-transform: uppercase;
  border: none;
  vertical-align: middle;
}


.websites {
  background-image: url("img/websites.png");
  width: 300px;
  height: 146px;
}

.applications {
  background-image: url("img/applications.png");
  width: 300px;
  height: 146px;
}

.presentations {
  background-image: url("img/presentations.png");
  width: 300px;
  height: 146px;
}


a.button-websites {
  background-color: var(--basic-light-red);
}

a.button-websites:hover,
a.button-websites:focus {
  background-color: var(--basic-red);
}

a.button-websites:active {
  background-color: var(--basic-dark-red);
}

a.button-applications {
  background-color: var(--basic-light-green);
}

a.button-applications:hover,
a.button-applications:focus {
  background-color: var(--basic-green);
}

a.button-applications:active {
  background-color: var(--basic-dark-green);
  }


a.button-presentations {
  background-color: var(--basic-light-yellow);
}

a.button-presentations:hover,
a.button-presentations:focus {
  background-color: var(--basic-yellow);
}

a.button-presentations:active {
  background-color: var(--basic-dark-yellow);
}



.button-contact {
  padding: 17px 44px 15px 44px;
  background-color: var(--basic-light-red);
  border-radius: 3px;
}

.contact h3 {
  font-size: 18px;
  line-height: 30px;
}

footer{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.social{
margin: 0;
}

.social-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 9px;
  margin: 0;
  width: 247px;
  list-style: none;
}

.social-button {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--basic-social-gray);
  display: flex;
}

.vk-icon {
  background-image: url("img/vk-icon.svg");
  width: 26px;
  height: 15px;
  margin: auto;
}

.fb-icon {
  background-image: url("img/fb-icon.svg");
  width: 12px;
  height: 22px;
  margin: auto;
}

.insta-icon {
  background-image: url("img/insta-icon.svg");
  width: 21px;
  height: 21px;
  margin: auto;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}

.social-button:active {
  background-color: var(--basic-dark-red);
  /*и опять проблема с 3-м видом, что делать с иконкой?*/
}

.footer-discounts {
  justify-self: left;
  width: 542px;
  margin: 0;
}

.footer-discounts h2 {
  font-size: 36px;
  line-height: 36px;
}

.footer-discounts p {
  font-size: 16px;
  line-height: 22px;
}

.witeus {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 760px;
  margin: 0;
}

.witeus h2 {
  font-size: 45px;
  line-height: 53px;
  text-align: left;
  margin: 0;
  margin-bottom: 37px;
}


.witeus-name {
  width: 356px;
}

.witeus-email {
  width: 356px;
}

.witeus-comment {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 760px;

}

.witeus-item input,
.witeus-item textarea {
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-input-light-gray);
  color: var(--basic-black); /*как поменять цвет текста в поле ввода?*/
  border-radius: 3px;

}

.witeus-item {
  color: var(--basic-black);
}


.witeus-item input:hover,
.witeus-item textarea:hover {
  border-color: var(--basic-input-gray);
}

.witeus-item input:focus
.witeus-item textarea:focus {
  border-color: var(--basic-black);
}

.witeus-item input:invalid { /*когда всплывает подпись что невалидное значение,
  бордер черный, но потом становится красным. Как убрать черный?*/
  border-color: var(--basic-red);
  color: var(--basic-red);
}


.button-submit {
  padding: 17px 83px 15px 83px;
  background-color: var(--basic-light-red);
  border-radius: 3px;
}

/*PAGE 2*/

.shop {
  font-size: 55px;
  line-height: 55px;
}


.shop-page{  /*Почему такой селектор не работает shop. section?*/
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
  margin: 0;
  padding: 0;
}

.filters {
  width: 260px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filter legend {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 16px;
}

.filter ul {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  padding: 0;
  margin: 0;
}

.filter li {
color: var(--basic-black);
}

.filter input:hover,
.filter input:focus {
  opacity: 0.4;
}

.filter li:active {
  opacity: 0.3;
}

.filter input:active {
  opacity: 0.1;
}

.catalog {
  margin-left: 140px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  list-style: none;
}

.catalog-list li {
width: 360px;
height: 620px;
margin: 0;
margin-right: 40px;
margin-bottom: 30px;
}



.catalog-pages {
  font: inherit;
  list-style: none;
  line-height: 18px;
}


.catalog-page a {
  font: inherit;
  text-align: center;
  border: none;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-buttons-light-gray);
  padding: 50px 50px 50px 50px;
  border-radius: 3px;
  color: var(--basic-black);
} /*Здесь я что-то вообще запутался*/
